node_modules
wp-content/all-in-one-wp-migration,
wp-content/languages/plugins/contact-form-7-ja-28b2966727a4eeea158f98250ee5b44b.json
wp-content/languages/plugins/contact-form-7-ja.mo
wp-content/languages/plugins/seo-simple-pack
